*{
	box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    margin: 0% auto;
    width: 80%;
    font-sie: 0.9vw;
    overflow: scroll;
}

h1{
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-top: 5%;
}

h2{
	text-align: center;
}

ul {
    border-collapse: collapse;
    width: 80%;
    margin-bottom: 20%;
    margin-left: 8%;
    margin-right: 5%;
    display: flex;
}

li{
    padding: 10%;
    border: 1px solid #ddd;
    text-align: center;
    list-style-type: none;
}

a {
    color: blue;
    text-decoration: none;
}
